* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#bulb{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 0.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
  width: 50px;
  height: 30px;
}

#parentBox {
  display: flex;
  gap: 10px;
}

#redbox {
  background-color: red;
}

#greenbox {
  background-color: green;
}

#bluebox {
  background-color: blue;
}