* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #000;
  color: whitesmoke;
}

#main {
  display: flex;
  height: 90%;
}

#header {
  height: 8vh;
  display: flex;
  padding: 13px;
}

#footer {
  height: 10%;
}

.font {
  font-size: 150px;
  font-weight: bold;
}

.bg {
  background-image: url("https://images.unsplash.com/photo-1564352969906-8b7f46ba4b8b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGdyZWVuJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #000;
}

.vh-fit {
  height: 92vh !important;
}

.bg-img-reg {
  background-image: url("https://images.unsplash.com/photo-1464938050520-ef2270bb8ce8?q=80&w=1174&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-green {
  background: #8FC4B7;
}

.bg-night {
  background: #424242 !important;
}