* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  height: 100vh;
  background-image: url("./CalculatorBGImage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.input {
  background: #d1e7dd;
}

#result {
  overflow: hidden;
}

.box {
  width: 300px !important;
  background-color: #ffffff;
}
.calculator {
  background-color: #f8d7da;
  border-radius: 2px;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.CalcButton {
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
}

.equal {
  grid-column: span 2;
  background: #198754;
  height: 50px;
  border: none;
}

.opsButton {
  background-color: #ffc107 !important;
}

.equal :active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.CalcButton:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
